<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Papybot</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPEk_9cUI_Z9aeLSMn-JnnXKFjvxW7r-s&libraries=places" async refer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../static/GoogleMap.js"></script>
    <script src="../static/Reqs.js"></script>
    <link href="../static/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
    </script>
    <style>

    /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
    #map {
       height: 350px;
       width: 350px;
    }
    </style>

</head>
<body>
<br>
<center><img src="../static/header_logo.jpg" class="img-circle"></center>
<form>
    <br><br><br><br>
    <center>J't'écoute mon gamin ! Qu'es'que tu cherch' ?</center>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <label for="research"></label>
            <input type="text" class="form-control input-sm" id="research" name="research" aria-describedby="research"
                   autocomplete="off" placeholder="Entrez ce que vous chercher...">
            <small id="search" class="form-text text-muted"></small>
        </div>
        <button type="button" class="btn btn-success" name="submit" value="submit" id="submit" data-loading-text="<i class='fa fa-gear fa-spin'></i> Je réfléchis à un truc...">Chercher !</button>
        <div class="col-lg-4 col-lg-offset-5" id="map"><br>
        </div>
    </div>
</form>
<center><p><span id="know_it"></span><span id="address"></span><br><br><span id="txtHint"></span><a href="" id="link"><span id="wiki"></span></a></p></center>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <center>
                    <a href="https://github.com/Nexus-Strife/Papybot">Lien vers projet github</a><br>Copyright B.D.<br>
                    <a href="https://www.linkedin.com/in/benjamin-duplan-475aba153/">Profil Linkedin</a>
                </center>
            </div>
        </div>
    </div>
</footer>
</body>
<html>
